<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center> 

_____

# A basic data frame

In [8]:
import pandas as pd
lenha=pd.read_csv("https://github.com/CienciaDeDatosEspacial/code_and_data/raw/main/data/lenha.csv")

#see
lenha

,Unnamed: 0,Departamento,Provincia,Distrito,lenha_pct,code,key
0,0,Amazonas,Chachapoyas,Chachapoyas,0.246202,10101,AMAZONASCHACHAPOYASCHACHAPOYAS
1,1,Amazonas,Chachapoyas,Asunción,0.942308,10102,AMAZONASCHACHAPOYASASUNCION
2,2,Amazonas,Chachapoyas,Balsas,0.853521,10103,AMAZONASCHACHAPOYASBALSAS
3,3,Amazonas,Chachapoyas,Cheto,0.818182,10104,AMAZONASCHACHAPOYASCHETO
4,4,Amazonas,Chachapoyas,Chiliquin,0.956311,10105,AMAZONASCHACHAPOYASCHILIQUIN
...,...,...,...,...,...,...,...
1869,1869,Ucayali,Padre Abad,Irazola,0.545455,250302,UCAYALIPADRE ABADIRAZOLA
1870,1870,Ucayali,Padre Abad,Curimana,0.726645,250303,UCAYALIPADRE ABADCURIMANA
1871,1871,Ucayali,Padre Abad,Neshuya,0.507532,250304,UCAYALIPADRE ABADNESHUYA
1872,1872,Ucayali,Padre Abad,Alexander Von Humboldt,0.511197,250305,UCAYALIPADRE ABADALEXANDER VON HUMBOLDT
1873,1873,Ucayali,Purús,Purús,0.741279,250401,UCAYALIPURUSPURUS