<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center> 

_____

# A basic data frame

In [17]:
import pandas as pd
lena=pd.read_csv("https://github.com/CienciaDeDatosEspacial/code_and_data/raw/main/data/lenha.csv")

#see
lena

,Departamento,Provincia,Distrito,lenha_pct,code,key
0,Amazonas,Chachapoyas,Chachapoyas,0.246202,10101,AMAZONASCHACHAPOYASCHACHAPOYAS
1,Amazonas,Chachapoyas,Asunción,0.942308,10102,AMAZONASCHACHAPOYASASUNCION
2,Amazonas,Chachapoyas,Balsas,0.853521,10103,AMAZONASCHACHAPOYASBALSAS
3,Amazonas,Chachapoyas,Cheto,0.818182,10104,AMAZONASCHACHAPOYASCHETO
4,Amazonas,Chachapoyas,Chiliquin,0.956311,10105,AMAZONASCHACHAPOYASCHILIQUIN
...,...,...,...,...,...,...
1869,Ucayali,Padre Abad,Irazola,0.545455,250302,UCAYALIPADRE ABADIRAZOLA
1870,Ucayali,Padre Abad,Curimana,0.726645,250303,UCAYALIPADRE ABADCURIMANA
1871,Ucayali,Padre Abad,Neshuya,0.507532,250304,UCAYALIPADRE ABADNESHUYA
1872,Ucayali,Padre Abad,Alexander Von Humboldt,0.511197,250305,UCAYALIPADRE ABADALEXANDER VON HUMBOLDT
1873,Ucayali,Purús,Purús,0.741279,250401,UCAYALIPURUSPURUS

In [13]:
import geopandas as gpd

distmap=gpd.read_file("/vsicurl/https://github.com/CienciaDeDatosEspacial/code_and_data/raw/main/maps/peru_shp_distritos1874/DISTRITOS1874.shp")

In [14]:
distmap

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."
...,...,...,...,...,...
1869,LIMA,LIMA,CIENEGUILLA,IGN,"POLYGON ((-76.72917 -11.99948, -76.72596 -11.9..."
1870,LIMA,LIMA,ANCON,IGN,"POLYGON ((-77.06501 -11.57523, -77.06499 -11.5..."
1871,LIMA,LIMA,CARABAYLLO,IGN,"POLYGON ((-76.89892 -11.72963, -76.89768 -11.7..."
1872,CALLAO,CALLAO,MI PERU,IGN,"POLYGON ((-77.11491 -11.84189, -77.11450 -11.8..."
1873,LIMA,LIMA,SANTIAGO DE SURCO,IGN,"POLYGON ((-76.95742 -12.07604, -76.95741 -12.0..."

In [15]:
distmap['key']=distmap.DEPARTAMEN+distmap.PROVINCIA+distmap.DISTRITO
distmap['key']=distmap.key.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
distmap.key=distmap.key.str.upper().str.strip()
distmap.key=distmap.key.str.replace(r'  ',' ',regex=True)

In [18]:
lenaMap=distmap.merge(lena, on='key').loc[:,['key','DEPARTAMEN','PROVINCIA','DISTRITO','lenha_pct','geometry']]
lenaMap

,key,DEPARTAMEN,PROVINCIA,DISTRITO,lenha_pct,geometry
0,TACNATACNACORONEL GREGORIO ALBARRACIN LANCHIPA,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,0.090590,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNATACNAPOCOLLAY,TACNA,TACNA,POCOLLAY,0.124197,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNATACNACALANA,TACNA,TACNA,CALANA,0.566914,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNATACNATACNA,TACNA,TACNA,TACNA,0.052440,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNATACNASAMA,TACNA,TACNA,SAMA,0.427014,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."
...,...,...,...,...,...,...
1869,LIMALIMACIENEGUILLA,LIMA,LIMA,CIENEGUILLA,0.134573,"POLYGON ((-76.72917 -11.99948, -76.72596 -11.9..."
1870,LIMALIMAANCON,LIMA,LIMA,ANCON,0.070872,"POLYGON ((-77.06501 -11.57523, -77.06499 -11.5..."
1871,LIMALIMACARABAYLLO,LIMA,LIMA,CARABAYLLO,0.050134,"POLYGON ((-76.89892 -11.72963, -76.89768 -11.7..."
1872,CALLAOCALLAOMI PERU,CALLAO,CALLAO,MI PERU,0.029458,"POLYGON ((-77.11491 -11.84189, -77.11450 -11.8..."
1873,LIMALIMASANTIAGO DE SURCO,LIMA,LIMA,SANTIAGO DE SURCO,0.000994,"POLYGON ((-76.95742 -12.07604, -76.95741 -12.0..."